.postItem {
  background-color: #dcdcdc;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.postTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.postAuthor {
  font-style: italic;
  margin-bottom: 5px;
}

.postDate {
  font-size: 0.8rem;
  color: #666;
}
