.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

.footerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 1.1rem;
}
