.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 1px solid #1f2937;
}

.nav a {
  display: flex;
}

.logo {
  height: 40px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.loginLink {
  color: #fff;
  text-decoration: none;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--primary-color);
}

.userInitial {
  font-weight: bold;
  font-size: 1.5em;
  height: 100%
}

.logoutText {
  color: #fff;
  font-size: 0.9rem;
}
