.postTitle {
  font-size: 3rem;
}

.postDetails {
  display: flex;
  color: var(--text-secondary-color);
  font-weight: 500;
}

.postDetails > * {
  padding: 0em 1em;
  margin-bottom: 1rem;
}

.postAuthor {
  padding-left: 0;
  border-right: 1px solid var(--text-secondary-color);
}

.postContent {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.postContent ul,ol {
  list-style-position: inside;
}